<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <header>
      <h1>Index</h1>
    </header>
    <main>
      {{#userList}}
        <a href="/listing/{{id}}">
          <div class="eachUser">
            <img src={{avatar}}>
            <h2>{{name}}</h2>
            {{#job}}
              <p>{{job}}, {{company}}</p>
            {{/job}}
            {{^job}}
              <p>Available for hire</p>
            {{/job}}
          </div>
        </a>
      {{/userList}}
    </main>
  </body>
</html>
