<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <div class="userProf">
      <img src={{avatar}}>
      <h2>{{name}}</h2>
      <p>{{job}}, {{company}}</p>

      <p>Available for hire</p>
    </div>
  </body>
</html>
